<div class="container">
  <h1 class="main-heading">
    Room - Semester/Period Analysis
  </h1>
  <div class="row data-show">
    <div class="col-md-3">
      <h3>Properties</h3>
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select placeholder="Select Teacher" [(ngModel)]="selectTeacher" name="teacher" (selectionChange)="changeTeacher($event)">
            <mat-option value="-1">All</mat-option>
            <mat-option *ngFor="let tc of teacherArray" [value]="tc">
              {{tc}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select placeholder="Select Semester" [(ngModel)]="selectSemester" name="semester" (selectionChange)="changeSemester($event)">
            <mat-option value="-1">All</mat-option>
            <mat-option *ngFor="let ss of semesterArray" [value]="ss">
              {{ss}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select placeholder="Select Room" [(ngModel)]="selectRoom" name="room" (selectionChange)="changeRoom($event)">
            <mat-option value="-1">All</mat-option>
            <mat-option *ngFor="let rn of roomNameArray" [value]="rn">
              {{rn}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <button mat-raised-button [disabled]="(totalAnalysis === 0)" (click)="exportData()">Export</button>
      </div>

      <br />
      
      <div class="icon-form-field">
        <mat-icon fontSet="fas" fontIcon="fa-lightbulb" color="accent"></mat-icon>
        <mat-placeholder>Set Color
        </mat-placeholder>
        <mat-slide-toggle        
          (change)="setColor($event)" [checked]="chk">
        </mat-slide-toggle>
      </div>

      <br />
      
      <div class="icon-form-field">
        <mat-icon fontSet="fas" fontIcon="fa-window-maximize" color="accent"></mat-icon>
        <mat-placeholder>Show Cousre
        </mat-placeholder>
        <mat-slide-toggle        
          (change)="showCourse($event)" [checked]="sh_cou">
        </mat-slide-toggle>
      </div>
    </div>
    <div class="col-md-9">
      <ng-container *ngIf="page===0">
        <h3>Total Counts: {{totalAnalysis}}</h3>
        <div class="room-data-container">
          <ng-container *ngFor="let ro of roomObj;let i=index">
            <div [ngStyle] = "{'grid-template-columns': gridCSS}">
              <ng-container *ngFor="let each of ro;let j=index">
                <div class="room-data" [ngStyle]="{'background': each[1]}">
                  <div [innerHTML]="each[0]" (click)="showDetail(i,j)"></div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
     <!--  <ng-container *ngIf="page===1">
        <div class="col-md-12">
          <button mat-raised-button (click)="pageTransit(0)">Back to First Page</button>
          &nbsp;&nbsp;
          
          <a mat-raised-button href="http://localhost:4200/#/student">Student Page</a>

        </div>
        <div class="col-md-12 main-content">
          <h3>Room: {{studentDetail['Room'] }}</h3>
          <h3>Semester-Period: {{studentDetail['SP'] }}</h3>
          <h3>Course counts: {{studentDetail['CourseCount'] }}</h3>
          <ng-container *ngFor="let each of objectKey(studentDetail['Student'])">
            <div class="course-sector">
              <h4>Course Sector: {{each}}</h4>
              <h4>Teacher Name: {{studentDetail['Student'][each][0][1]}}</h4>
              <h4>Number of Students: {{studentDetail[each]}}</h4>
              <h4>Student IDs: 
                <ng-container *ngFor="let each1 of studentDetail['Student'][each]">
                  {{each1[0]}}
                </ng-container>
              </h4>
            </div>
          </ng-container>
        </div>
      </ng-container> -->
    </div>
  </div>
</div>
