
.container {
	margin-top: 20px;
	margin-bottom: 40px;
}

.data-show{
	justify-content: space-between;
	flex-direction: row-reverse;
	.mat-form-field{
		width: 100%;
	}
}


label {
    margin-top: 1rem;
    display: block;
    font-size: .8rem;
}

table {
  width: 100%;
}

