<div class="container">
  <h1 class="main-heading">
    Room Edit
  </h1>
  <div class="row data-show">
    <div class="col-md-2">
      <div class="col-sm-12">
        <button mat-raised-button [disabled]="(totalAnalysis === 0)" (click)="exportData()">Export</button>
      </div>
    </div>
    <div class="col-md-10">
      <h3>Total Counts: {{totalAnalysis}}</h3>
      <div>
        <form>
          Year
          <select id="name">
            <option value="flower">2018-2019</option>
            <option value="lion">2019-2020</option>
          </select>
          &nbsp;Semester
          <select id="name">
            <option value="flower">1</option>
            <option value="lion">2</option>
          </select>
          &nbsp;Cycle
          <select id="name">
            <option value="flower">1</option>
            <option value="lion">2</option>
          </select>
          &nbsp;&nbsp;&nbsp;Floor
          <select id="name">
            <option value="flower">All Floor</option>
            <option value="lion">2</option>
          </select>
          <br>
          <br>
        </form>
      </div>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef> Capacity </th>
            <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.department}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" [length]="100" showFirstLastButtons></mat-paginator>
      </div>
      <div class="room-data-container">
        <ng-container *ngFor="let ro of roomObj;let i=index">
          <div [ngStyle]="{'grid-template-columns': gridCSS}">
            <ng-container *ngFor="let each of ro;let j=index">
              <div class="room-data" [ngStyle]="{'background': each[1]}">
                <div [innerHTML]="each[0]"></div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>